@use "colors"
@use "attribution"
@use "sizing"

body
  font-family: "Barlow Semi Condensed", sans-serif

.box 
  height: 150px
  width: 300px
  background-color: #AAEEFF
  margin: 10px

.box-author-wrapper

.box-author-image
  height: 50px
  width: 50px
  

.box-author-text
  
.box-author-name

.box-author-note

.box-quote-first

.box-quote-expound


